@import '../../core/scss/_config.scss';
@import '../../core/scss/_mixins.scss';

.fl-button {
    padding: .6em 1em;
    background-color: $theme-fluent-primary-base;
    color: $font-color-base;
    display: inline-block;
    cursor: pointer;
    transition: all .1s ease-in;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1em;
    vertical-align: top;
}

.fl-button:hover {
    background-color: $theme-fluent-primary-accent1;
}

.fl-button.danger {
    background-color: #C72121;
}

.fl-button.danger:hover {
    background-color: #CE3737;
}

.fl-button.primary {
    background-color: $theme-fluent-primary-base;
}

.fl-button.primary:hover {
    background-color: $theme-fluent-primary-accent1;
}

.fl-button.secondary {
    background-color: $theme-fluent-secondary-base;
}

.fl-button.secondary:hover {
    background-color: $theme-fluent-secondary-accent1;
}