.fl-flex {
    display: block;
    
    .fl-flex-direction-row {
        display: inline-block;
    }
    .fl-flex-direction-column {
        display: block;
    }
    
    &.fl-flex-grow {
        display: table;
    }
}
