@import '../../core/scss/_config.scss';

.fl-nav {
    display: block;
    min-height: 48px;
    width: 100%;
    background-color: $nav-color-background-primary;
    color: $nav-color-foreground-primary;
}